@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

.destinations {
  width: 90% !important;
  margin-left: 5% !important;
  margin-top: 10px !important;
  border-radius: 10px;
  align-items: center;
  min-width: 603px;
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
  grid-gap: 30px 30px !important;
  margin-top: 15px !important;
}

.destinations img {
  border-radius: 10px;
}

.destinations h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.destinations h6 {
  font-family: "Roboto" !important;
  /* font-style: normal; */
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 19px;
  text-align: center !important;
}
.seeMore {
  margin-left: 5%;
  justify-content: space-between;
  width: 90% !important;
  margin-top: 30px;
}
